<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-appsflyer-sdk"
        version="6.15.3-rc3">
    <name>AppsFlyer</name>
    <description>Cordova Plugin AppsFlyer</description>
    <license>Apache 2.0</license>
    <keywords>cordova,appsflyer</keywords>
    <repo>https://github.com/AppsFlyerSDK/cordova-plugin-appsflyer-sdk.git</repo>
    <engines>
        <engine name="cordova" version=">=4.3.0"/>
    </engines>

    <js-module src="www/appsflyer.js" name="appsflyer">
        <clobbers target="window.plugins.appsFlyer"/>
    </js-module>

    <js-module src="www/AppsFlyerError.js" name="AppsFlyerError">
        <clobbers target="AppsFlyerError"/>
    </js-module>

    <!-- Install pre-prerequisites -->
    <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>

    <!-- android -->
    <platform name="android">
        <!-- Hooks -->
        <hook type="before_compile" src="hooks/android/check-adobe-plugin-and-register-fcm.js" />

        <!-- Change values depends the enviroment -->
        <preference name="AF_CHANNEL"/>
        <preference name="AF_VALUE"/>
        <preference name="AF_HOST"/>
        <preference name="AF_SCHEME"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppsFlyerPlugin">
                <param name="android-package" value="com.appsflyer.cordova.plugin.AppsFlyerPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*/application">
            <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER"/>
                </intent-filter>
            </receiver>
        </config-file>

        <!-- Add meta-data to AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="$AF_CHANNEL" android:value="$AF_VALUE"/>
        </config-file>

        <!-- Add dinamic intent-filter -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="$AF_HOST" android:scheme="$AF_SCHEME" />
            </intent-filter>
        </config-file>

        <source-file src="src/android/com/appsflyer/cordova/plugin/AppsFlyerPlugin.java"
                     target-dir="src/com/appsflyer/cordova/plugin"/>
        <source-file src="src/android/com/appsflyer/cordova/plugin/AppsFlyerConstants.java"
                     target-dir="src/com/appsflyer/cordova/plugin"/>
        <source-file src="src/android/com/appsflyer/cordova/plugin/AppsFlyerFirebaseMessagingService.java"
                     target-dir="src/com/appsflyer/cordova/plugin"/>
        <framework src="src/android/cordovaAF.gradle" custom="true" type="gradleReference"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <!-- Hooks -->
        <preference name="SKAN_POSTBACK"/>
        <preference name="SCHEME_ONE_LINK"/>
        
        <hook type="before_compile" src="hooks/ios/check-adobe-plugin.js" />

        <preference name="deployment-target" value="12.0" default="12.0"/>
        <preference name="UseSwiftLanguageVersion" value="5" default="5"/>

        <config-file target="config.xml" parent="/*">
            <feature name="AppsFlyerPlugin">
                <param name="ios-package" value="AppsFlyerPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AppsFlyerPlugin.h"/>
        <header-file src="src/ios/AppsFlyerDeepLink.h"/>
        <header-file src="src/ios/AppsFlyerDeepLinkResult.h"/>
        <header-file src="src/ios/AppsFlyerAttribution.h"/>
        <header-file src="src/ios/AppsFlyerLib.h"/>
        <source-file src="src/ios/AppsFlyerPlugin.m"/>
        <source-file src="src/ios/AppsFlyerAttribution.m"/>
        <header-file src="src/ios/AppsFlyerLinkGenerator.h"/>
        <header-file src="src/ios/AppsFlyerCrossPromotionHelper.h"/>
        <header-file src="src/ios/AppsFlyerShareInviteHelper.h"/>
        <header-file src="src/ios/AppsFlyerX+AppController.h"/>
        <source-file src="src/ios/AppsFlyerX+AppController.m"/>

        <header-file src="src/ios/AppDelegate+AppsFlyer.h" />
        <source-file src="src/ios/AppDelegate+AppsFlyer.m" />

        <podspec>
            <config>
            </config>
            <pods use-frameworks="true">
               <pod name="AppsFlyerFramework" spec="6.16.2"/>
            </pods>
        </podspec>

        <!-- SKAN Postback -->
        <config-file target="*-Info.plist" parent="NSAdvertisingAttributionReportEndpoint">
            <string>$SKAN_POSTBACK</string>
        </config-file>

        <!-- LSApplicationQueriesSchemes -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
            <string>twitter</string>
            <string>whatsapp</string>
            </array>
        </config-file>

        <!-- OneLink Deep Link Scheme -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>onelink</string>
                <key>CFBundleURLSchemes</key>
                <array>
                <string>$SCHEME_ONE_LINK</string>
                </array>
            </dict>
            </array>
        </config-file>

    </platform>

</plugin>
